{{ template "env.tmpl" . -}}

{{ template "aliases.tmpl" -}}

set -g fish_greeting

direnv hook fish | source

if test -z "$CURSOR_AGENT"
    starship init fish | source
    zoxide init --cmd cd fish | source
end

source "$HOMEBREW_PREFIX/etc/brew-wrap.fish"
