[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[user]
	name = Rahul Chalamala
	email = {{ .git.email }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFvMv3esiqODfkre3n91vkK71Z7w2lESIU7n1SJ2yfVu
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[merge]
	tool = smerge
	conflictStyle = zdiff3
[diff]
	tool = smerge
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
[core]
	excludesFile = ~/.gitignore
	pager = delta
[alias]
	append = town append
	compress = town compress
	contribute = town contribute
	diff-parent = town diff-parent
	down = town down
	hack = town hack
	delete = town delete
	observe = town observe
	park = town park
	prepend = town prepend
	propose = town propose
	rename = town rename
	repo = town repo
	set-parent = town set-parent
	ship = town ship
	sync = town sync
	up = town up
[git-town]
	main-branch = main
